{% load static %}
{% load blog_tags %}
<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

    <!-- Basic Page Needs
  ================================================== -->
	<meta charset="utf-8">
	<title>NaijaCorpHub</title>
	<meta name="description" content="Free Responsive Html5 Css3 Templates | zerotheme.com">
	<meta name="author" content="www.zerotheme.com">
	
    <!-- Mobile Specific Metas
  ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    
    <!-- CSS
  ================================================== -->
  	<link rel="stylesheet" href="{% static 'css/zerogrid.css' %}">
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
	<link rel="stylesheet" href="{% static 'css/menu.css' %}">
	<link rel="stylesheet" href="{% static 'css/responsiveslides.css' %}">
    <script src="{% static 'js/jquery183.min.js' %}"></script>
    <script src="{% static 'js/responsiveslides.min.js' %}"></script>
    <script>
		// You can also use "$(window).load(function() {"
		$(function () {
		  // Slideshow 
		  $("#slider").responsiveSlides({
			auto: true,
			pager: false,
			nav: true,
			speed: 500,
			namespace: "callbacks",
			before: function () {
			  $('.events').append("<li>before event fired.</li>");
			},
			after: function () {
			  $('.events').append("<li>after event fired.</li>");
			}
		  });
		});
	</script>
    
</head>
<body>
<div class="wrap-body">

<!--////////////////////////////////////Header-->
<header>
	<div class="zerogrid">
		<div class="wrap-header">
			<div class="row">
				<div class="col-1-3">
					<div class="wrap-col">
						<!-- logo -->
						<div class="logo"><a href="#">NaijaCorpHub</a></div>	
					</div>
				</div>
				<div class="col-1-3 offset-1-3">
					<div class="wrap-col">
						<form method="get" action="/search" id="search" class="f-right">
						  <input name="q" type="text" size="40" placeholder="Search..." />
						</form>
					</div>
				</div>
			</div>
		</div>
		<nav id="menu-wrap"><div id="menu-trigger">Menu</div>    
			<ul id="menu" style="display: none;">
				<li><a href="{% url 'index' %}">Home</a></li>
				<li>
					<a href="#">Categories</a>
					<ul>
						<li>
							<a href="{% url 'markethub' %}">Market Hub</a>
						</li>
						<li>
							<a href="{% url 'skillhub' %}">Skill Hub</a>
						</li>
					</ul>
				</li>
				<li><a href="contact.html">About</a></li>
				{% if user.is_authenticated %}
					<a href="javascript:{$('#logout').submit()}">logout</a>
					<form id="logout" method="POST" action="{% url 'logout' %}">
						{% csrf_token %}
						<input type="hidden">
					</form>
				{% else %}
				<li><a href="{% url 'login' %}">Login</a></li>
				{% endif %}
			</ul>
		</nav>
		{% if messages %}
			{% for message in messages %}
				<p style="color: green;text-align: center;">{{ message }}</p>
			{% endfor %}
    	{% endif %}
		<div class="slider">
			<!-- Slideshow -->
			<div class="callbacks_container">
				<ul class="rslides" id="slider">
					<li>
						<img src="{% static 'images/1.jpg' %}" alt="">
						<p class="caption">This is a caption</p>
					</li>
					<li>
						<img src="{% static 'images/2.jpg' %}" alt="">
						<p class="caption">This is another caption</p>
					</li>
					<li>
						<img src="{% static 'images/3.jpg' %}" alt="">
						<p class="caption">The third caption</p>
					</li>
				</ul>
			</div>
		</div>
	</div>
</header>

<div>
	<h3>RECENT UPLOADS</h3>
</div>
<section id="container">
	<div class="wrap-container">
		<div class="zerogrid">
			<section class="content-box box-1">
				<div class="row"><!--Start Box-->
					<div class="col-1-4">
						<div class="wrap-col item">
							<h3 class="item-header"><a href="#"></a></h3>
							<div class="zoom-container">
								<img src="{% static 'images/banner-img1.jpg' %}" />
							</div>
							<div class="item-content">
								<span>LOREM IPSUM DOLOR SIT AMET,CONSEC TEETUER ADIPECPP IT.</span>
								<p>His primis omittam intellegat cu, voluptua appetere mea ad, eu harum oporteat vix. 
								Et vel quod legimus, graeci electram ocurreret at his. Vix at tation facete impetus omnesque ius harum antiopam.</p>
								<a class="button" href="single.html">More</a>
							</div>
						</div>
					</div>
					<div class="col-1-4">
						<div class="wrap-col item">
							<h3 class="item-header"><a href="#"></a></h3>
							<div class="zoom-container">
								<img src="{% static 'images/banner-img2.jpg' %}" />
							</div>
							<div class="item-content">
								<span>LOREM IPSUM DOLOR SIT AMET,CONSEC TEETUER ADIPECPP IT.</span>
								<p>His primis omittam intellegat cu, voluptua appetere mea ad, eu harum oporteat vix. 
								Et vel quod legimus, graeci electram ocurreret at his. Vix at tation facete impetus omnesque ius harum antiopam.</p>
								<a class="button" href="single.html">More</a>
							</div>
						</div>
					</div>
					<div class="col-1-4">
						<div class="wrap-col item">
							<h3 class="item-header"><a href="#"></a></h3>
							<div class="zoom-container">
								<img src="{% static 'images/banner-img3.jpg' %}" />
							</div>
							<div class="item-content">
								<span>LOREM IPSUM DOLOR SIT AMET,CONSEC TEETUER ADIPECPP IT.</span>
								<p>His primis omittam intellegat cu, voluptua appetere mea ad, eu harum oporteat vix. 
								Et vel quod legimus, graeci electram ocurreret at his. Vix at tation facete impetus omnesque ius harum antiopam.</p>
								<a class="button" href="single.html">More</a>
							</div>
						</div>
					</div>
					<div class="col-1-4">
						<div class="wrap-col item">
							<h3 class="item-header"><a href="#"></a></h3>
							<div class="zoom-container">
								<img src="{% static 'images/banner-img4.jpg' %}" />
							</div>
							<div class="item-content">
								<span>LOREM IPSUM DOLOR SIT AMET,CONSEC TEETUER ADIPECPP IT.</span>
								<p>His primis omittam intellegat cu, voluptua appetere mea ad, eu harum oporteat vix. 
								Et vel quod legimus, graeci electram ocurreret at his. Vix at tation facete impetus omnesque ius harum antiopam.</p>
								<a class="button" href="single.html">More</a>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="content-box box-2"><!--Start Box-->
				<div class="row">
					<div class="col-1-3">
						<div class="wrap-col item">
							<h3 class="item-header">Vacancies</h3>
							<span>LOREM IPSUM DOLOR SIT AMET, CONSEC TEER ADIPISCING. PRSENT VESTIBULUM.</span>
							<img src="images/page1-img1.jpg" />
							<p>His primis omittam intellegat cu, voluptua appetere mea ad, eu harum oporteat vix. 
								Et vel quod legimus, graeci electram ocurreret at his. Vix at tation facete impetus omnesque ius harum antiopam.</p>
							<a class="button" href="#">More</a>
						</div>
					</div>
					<div class="col-1-3">
						<div class="wrap-col item">
							<h3 class="item-header">Vacancies</h3>
							<span>LOREM IPSUM DOLOR SIT AMET, CONSEC TEER ADIPISCENT VESTIBULUM.</span>
							<p>His primis omittam intellegat cu, voluptua appetere mea ad, eu harum oporteat vix. 
							Et vel quod legimus, graeci electram ocurreret at his. Vix at tation facete impetus omnesque ius harum antiopam.</p>
							<ul class="link">
								<li><a href="#"> ASETY KSCABO</a></li>
								<li><a href="#"> NERAFAES</a></li>
								<li><a href="#"> KERTYU ERSVITA ERTYA</a></li>
								<li><a href="#"> SNEMO LASEC VASP</a></li>
								<li><a href="#"> TAIADES GOERTAYSE</a></li>
							</ul>
						</div>
					</div>
					<div class="col-1-3">
						<div class="wrap-col item">
							<h3 class="item-header">LATEST GISTS</h3>
							{% for blogs in blog %}
							<span><a href="{% url 'blog_detail' blogs.id blogs.slug  %}">{{blogs.title}}</a></span>
							<p>{{blogs.body | markdown |truncatewords_html:7 }}</p>
							<hr style="border: 1px dashed #ccc;margin: 17px 0;">
							{% empty %}
								<h3>no post yet</h3>
							{% endfor %}
						</div>
					</div>
				</div>
			</section>
		</div>
	</div>
</section>
<footer>
	<div class="zerogrid">
		<div class="wrap-footer">
			<div class="row">
				<div class="col-1-2">
					<div class="wrap-col">
						<div class="copy-right">
							<p>Copyright 2021 - Designed by <a href="https://www.ewelikenelson.herokuapp.com">Jerry Nelson</a></p>
						</div>
					</div>
				</div>
				<div class="col-1-2">
					<div class="wrap-col">
						<div class="bottom-social t-right">
							<a href="#"><img src="{% static 'images/facebook.png' %}" title="facebook"/></a>
							<a href="#"><img src="{% static 'images/twitter.png' %}" title="twitter"/></a>
							<a href="#"><img src="{% static 'images/google.png' %}" title="google"/></a>
							<a href="#"><img src="{% static 'images/pinterest.png' %}" title="pinterest"/></a>
							<a href="#"><img src="{% static 'images/instagram.png' %}" title="instagram"/></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>


<script type="text/javascript">
    $(function() {
		if ($.browser.msie && $.browser.version.substr(0,1)<7)
		{
		$('li').has('ul').mouseover(function(){
			$(this).children('ul').css('visibility','visible');
			}).mouseout(function(){
			$(this).children('ul').css('visibility','hidden');
			})
		}

		/* Mobile */
		$("#menu-trigger").on("click", function(){
			$("#menu").slideToggle();
		});

		// iPad
		var isiPad = navigator.userAgent.match(/iPad/i) != null;
		if (isiPad) $('#menu ul').addClass('no-transition');      
    });          
</script>

</div>
</body></html>