{% load static %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Form</title>
    <link rel="stylesheet" href="{% static 'css/market_form.css' %}">
    <link href='https://fonts.googleapis.com/css?family=Nunito:400,300' rel='stylesheet' type='text/css'>
</head>
<body>

  <form action="" enctype="multipart/form-data" method="post">
    {% csrf_token %}
    <h1>Upload Product</h1>
    
    <fieldset>
      <label for="name">Product Name:</label>
      <input type="text" id="name" name="product_name">
      
      <label for="price">Price:</label>
      <input type="number" id="mail" name="price">
      
    </fieldset>
    
    <fieldset>
      <label for="bio">Description:</label>
      <textarea id="bio" name="description"></textarea>
    </fieldset>
    <fieldset>
    <select id="job" name="category">
      <optgroup label="Product Category">
        <option value="select">Select</option>
        <option value="Electronics">Electronics</option>
        <option value="Furniture">Furniture</option>
        <option value="Apartment">Apartment</option>
        <option value="Other stuffs">Other stuffs</option>
      </optgroup>
    </select>
    
      <label>Images:</label>
      <p>
        <input type="file" name="image" size="40">
      </p>
      <p>
        <input type="file" name="image_two" size="40"><br>
        optional
      </p>
      <p>
        <input type="file" name="image_three" size="40"><br>
        optional
      </p>
    
    </fieldset>
    <button type="submit">Upload</button>
  </form>
  
</body>
</html>